

.small-device-title{
    display: none;
    font-size: 2.1rem;

}
.small-device-title2{
    display: none;
    font-size: 2.1rem;

}



@media screen and (max-width: 361px){
    *{
        /* outline: 1px solid blue; */
    }
    .mightydiv{
        overflow-x: hidden;

    }
    .aboutme{
        /* outline: 2px solid blue;   */
        margin-top: 10vh;
        padding-bottom: -10vh;
        height: 80vh;
        margin-left: 5vw;
    }
    .stats{
        margin-top: 7vh;
    }
    .codding p,.proj p{
        margin-top: -2vh;

    }
    .aboutme_title{
        background-color: green;
        margin-left:-23vw;
        display: none;
    }
    .aboutt21{
        opacity: 1;
        font-size: 2.1rem;
    }
    
    .aboutt2{
        display: none;
    }
    .small-device-title{
        display: block;
        font-size: 3.1rem;
        margin-left: -21vw;
    
    }
    .small-device-title2{
        display: block;
        font-size: 1.1rem;
        margin-left: -21vw;

    
    }
    .skills_header_small{
        margin-left: 13vw;
        text-align: center;
    }
    
   .description{
    /* display: none; */
    position: absolute;
    width: 90vw;
    text-align: center;
    margin-top: 19vh;
    margin-left:7vh;
    width:100%;
    padding-left: 5vw;
    padding-right: 5vw;
}
   .thumnail img{
        height: 40vw;
        width: 60vw;
        margin-top: 2vh;
        margin-left: 7vw;
        margin-top: -10vw;
   }
 
   .rightarrow{
    margin-left: 55vw;
   }
   .leftarrow{
    margin-left: 15vw;
   }
   .contacts{
    margin-top: -20vh;
    background-color: red;
   }
}










































    @media screen and (max-width: 768px){
        .aboutme{
            /* outline: 2px solid red; */
        }

    html{
        scroll-behavior: smooth;
    }
    .contacts{
        background-color: red;
        margin-top: -20vh;
    }
    body{

        overflow-x: hidden;


    }
    .contacts{
        margin-top: -20vh;
        background-color: red;
       }
    .mightydiv{
        overflow-x: hidden;

    }
    .navbar{
        width: 1vw;
        position: static;
    }

    #langingImg{
        display: none;
    }
    #left{
        margin-top: -10vh;
        margin-left: -10vw;
    }
    #contactme_{
        width: 35vw;
        font-size: 1.2rem;
    }
    .moon{
        top: 10vh;
        left: 85vw;
        position: fixed;
    }
    .moon img{
        width:7vw
    }
    .links{
        display: none;
    }
    .icons_top{
        margin-left: -5vw;
    }
    .page1{
        height: 70vh;
    }
    .aboutme{
        height: 60vh;
    }
    .aboutme_title{
        width:30vw;
        height:5vh;
    }
    .title2{
        margin-left:-10vw
    }
    #aboutimage{
        display: none;
    }
    #aboutLongp{
        padding-left: 2vw;
        position: absolute;
        left:-50vw;
        top:-15vh;
        width:85vw


    }
    .stats{
        position: relative;
        /* background-color: brown; */
        left:-30vw;
        width: 70vw;
        top:3vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .download_cv{
        position: absolute;
        width:76vw;
        left:-15vw;
        top:10vh
    }
    
    .coding{
        background-color: blue;
        width: 70vw;
    }









    #back,#front{
        margin-left: -25vw;
        width:40vw
    }


.skills{
    width:40vw;

}


    .mainskill{
        /* background-color: red; */
        width:100vw;
        position:relative;
        left:-10vw;
        height:40vh
    }
    .range1,.range2{
        width: 100vw;
        /* background-color: black; */
        margin-top: -10vh;
        height:30vh
    }
    .gray{
        width: 100%;
    }
    .unit{
        margin-left:-15vw;
        width: 70vw;
    }


.projects_main{
    height: 50vh;
}

.projects{
    height: 50vh;
}

.description{
    padding-top: 0vh;
}

.prbtn{
    /* background-color: aqua; */
    width: 60vw;
    position: absolute;
    left: 10vw;
    display: flex;
    justify-content: space-between;
    height: 8vh;
}

.prbtn button{
    width: 40vw;
    margin-top:2vh;
    height: 3vh;
}
.projects_main_body{
    margin-left:-13vw
}


.footerbar{
    display: none;
}
.footer .proffesion{
    margin-left: 5vw;
    width: 60vw;
    position: absolute;
}

.contactcontainer{
    height: 60vh;
}



.main_contacts{
    position: relative;
    /* background-color: yellowgreen; */
    height: 60vh;
}

#icon4,#icon5{
    display: none;
}
.values_{
    margin-left: 10vw;
    position: absolute;
    top: 50vh;
}
.call{
    margin-left: -10vw;
}
.mail_{
    margin-left: 22vw;

}
.formdiv2{
    /* background-color: rebeccapurple; */
}





.formdiv{
    /* background-color: violet; */
    width: 100%;
    position: absolute;
    left: 8vw;
}
.formdiv input{
    width: 80vw;
}
#senderEmail,#senderName{
    width: 40vw;
}

textarea{
    width: 80vw;
}
button[type='submit']{
    width: 80vw;
    margin-top: 1vh;
    border-radius: 10vh;
}













.description{
    /* display: none; */
    position: absolute;
    width: 90vw;
    text-align: center;
    margin-top: 19vh;
    margin-left:7vh;
    width:100%;
    padding-left: 5vw;
    padding-right: 5vw;
}
   .thumnail img{
        height: 40vw;
        width: 60vw;
        margin-top: 2vh;
        margin-left: 7vw;
        margin-top: -10vw;
   }
 
   .rightarrow{
    margin-left: 55vw;
   }
   .leftarrow{
    margin-left: 15vw;
   }















    ::-webkit-scrollbar {
display: none;
      }



      ::-webkit-scrollbar-track {
        display:none;
      }
    ::-webkit-scrollbar-thumb {
        display: none;
      }





      .mightydiv{
        overflow-x: hidden;

    }
    .aboutme{
        /* outline: 2px solid blue;   */
        margin-top: 10vh;
        padding-bottom: -10vh;
        height: 80vh;
        margin-left: 5vw;
    }
    .stats{
        margin-top: 7vh;
    }
    .codding p,.proj p{
        margin-top: -2vh;

    }
    .aboutme_title{
        background-color: green;
        margin-left:-23vw;
        display: none;
    }
    .aboutt21{
        opacity: 1;
        font-size: 2.1rem;
    }
    
    .aboutt2{
        display: none;
    }
    .small-device-title{
        display: block;
        font-size: 3.1rem;
        margin-left: -21vw;
    
    }
    .small-device-title2{
        display: block;
        font-size: 1.1rem;
        margin-left: -21vw;

    
    }
    .skills_header_small{
        margin-left: 13vw;
        text-align: center;
    }
    
   .description{
    /* display: none; */
    position: absolute;
    width: 90vw;
    text-align: center;
    margin-top: 19vh;
    margin-left:7vh;
    width:100%;
    padding-left: 5vw;
    padding-right: 5vw;
}
   .thumnail img{
        height: 40vw;
        width: 60vw;
        margin-top: 2vh;
        margin-left: 7vw;
        margin-top: -10vw;
   }
 
   .rightarrow{
    margin-left: 55vw;
   }
   .leftarrow{
    margin-left: 15vw;
   }
   .contacts{
    margin-top: -20vh;
    background-color: red;
   }
}